    body {
      font-family: 'Lato', sans-serif;
      background: #fff;
      margin: 0;
      padding: 20px;
    }
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
    }
    .logo {
      width: 200px;
      height: 200px;
      margin-left: 20px;
    }
    h1 {
      font-size: 32px;
      color: #ffa200;
      margin: 0;
    }
    p {
      font-size: 14px;
      color: #ffa200;
      margin-top: 20px;
    }