    body {
      font-family: 'Lato', sans-serif;
      background: #fff;
      margin: 0;
      padding: 20px;

    }
    .title {
        margin-top: -40px;
    }
    .bartitleBTSCMB {
        margin-left: 450px;
        margin-top: 0px;

    }
    .pie {
     position: fixed;       
     bottom: 0; left: 0;
     width: 100%;           
     background: #222;      
     color: #fff;           
     text-align: center;    
     padding: 10px;         
     z-index: 0;            
    }
    .buttomstitleS{ 
        padding: 12px 24px;
        border-radius: 8px; 
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        color: #fff; 
        background: linear-gradient(to top, #ffa200 0%, transparent 100%);
        transition: all 0.4s ease; }
    .buttomstitleS:hover {
     background: linear-gradient(to top, transparent 0%, transparent 100%);
     color: #ffa200; 
    }
    .logo {
      width: 200px;
      height: 200px;
      margin-left:-30px;
      margin-top: -149px;
    }
    h1 {
      font-size: 32px;
      color: #ffa200;
      margin-left: 140px;
      margin-top: -40px;
      user-select: none;
    }
    .psubtitle {
      font-size: 14px;
      color: #ffa200;
      margin-top: 0px;
      margin-left: 140px;
      user-select: none;
    }
        
     .content {
     margin-top: 100px;
     margin-right: 130px;
    }
      .p1 {
      font-size: 20px;
      color: #ffa200;
      margin-top: 80px;
      margin-left: 140px;
      user-select: none;
    } 
